.list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.list div{
    margin: 1rem 0;
}
.list .div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div a{
    color: black;
}